.App {
  text-align: center;
}

.header-container {
  padding: 70px;
  width: 100%;
  position: relative;
  background-image: url("../imgs/basil-background.jpg");
  background-color: rgba(255, 255, 255, 0.4);
  background-blend-mode: lighten;
  background-position: center center;
}

.header {
  text-align: center;
  font-size: 3em;
/* background: white;  */
  font-weight: normal;
  margin-bottom: 0;
  margin-top: 20px;
}

/* .App-title {
  font-size: 1.5em;
} */

.search-bar {
  margin: 20px;
  text-align: center;
}

.search-bar input {
  width: 50%;
}

.sign-up-log-in {
  z-index: 2;
  width: 400px;
  position: absolute;
  top: 22%;
  left: 35%;
  opacity: 1;
  animation: moveup 2s;
  animation-timing-function: ease-out;
}

@keyframes moveup {
  from {top: 26%; opacity: 0.4}
  to {top: 22%; opacity: 1}
}
