.App {
  text-align: center;
}

.header-container {
  padding: 70px;
  width: 100%;
  position: relative;
  background-image: url("../imgs/basil-background.jpg");
  background-color: rgba(255, 255, 255, 0.4);
  background-blend-mode: lighten;
  background-position: center center;
  z-index: -1;
}

.header {
  text-align: center;
  font-size: 3em;
/* background: white;  */
  font-weight: normal;
  margin-bottom: 0;
  margin-top: 20px;
}

/* .App-title {
  font-size: 1.5em;
} */

.search-bar {
  margin: 20px;
  text-align: center;
}

.search-bar input {
  width: 50%;
}
